*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header{
    background-color: black;
    color: white;
    flex: 1 8rem;
    width: 100%;
}

header div.content{
    width: 96rem;
    margin: 0 auto;
    display: block;
}

header div.logo{
    font-size: 2rem;
    float: left;
    width: 6rem;
    display: block;
}

header div.link-list{
    float: right;
    width: 20rem;
    display: block;
    margin: 0;
}

header ul{
    margin: 0;
}

header ul li{
    display: inline;
}

header a{
    color: white;
}

.banner{
    flex: 3 20rem;
    background-color: rgb(105, 189, 97);
    position: relative;
}

.banner a{
    color: gray;
    outline: none;
    text-decoration: none;
    border: 1px solid black;
    background-color: rgb(132, 224, 95);
    padding: 4px 5px;
}

.banner a.active{
    padding-top: 10px;
    background-color: rgb(228, 250, 215);
}

.banner ul{
    position: absolute;
    top: 16rem;
    left: 110rem;
    z-index: 2;
}

.banner ul li{
    display: inline;
}

.banner .banner-panel{
    position: relative;
    height: 20rem;
    width: 96rem;
}

.banner-panel section{
    height: 20rem;
    width: 96rem;
    position: absolute;
}

.banner-panel .active-panel{
    z-index: 1;
    /* background-color: red; */
}

nav{
    min-width: 5rem;
    border-bottom: 1px solid gray;
}

nav ul{
    margin: 0 auto;
    padding: 0;
    width: 96rem;
}

nav ul li{
    display: inline-block;
    margin: 2rem 0 0;
    padding: 0.75rem 0 0.75rem;
}

nav ul li a{
    color: black;
    margin: 2rem 0 0;
    padding: 0.75rem 2rem 0.75rem;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: rgba(128, 128, 128, 0.253);
    text-decoration: none;
}

nav ul li a.active{
    z-index: 1;
    border-bottom: 1px solid white;
    background-color: white;
}


.content{
    flex: 4 50rem;
    display: flex;
    width: 96rem;
    flex-flow: column wrap;
    margin: 0 auto;
}

.content div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content article{
    padding: 80px;
    flex: 80px;
    margin: 1rem;
    border: 1px solid gray;
    text-align: center;
}

footer{
    flex: 2 8rem;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 1rem;
}