*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: '[Monteserrat ExtraLight]', 'regular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* header css area */
.html_header{
    width: 100%;
    height: 99rem;
    color: white;
    background-image: url(./images/Background1.png);
    text-align: center;
    margin: 0 auto;
    padding: 20rem 0;
}

.html_header div{
    width: 96.5rem;
    margin: 0 auto;
}

.html_header div.header_input_field{
    height: 25rem;
    width: 97rem;
    border: 1px solid rgb(184, 182, 182);
    border-radius: 5px;
    margin-top: 10rem;
    padding: 5rem 0;
}

.html_header div.header_input_field h3{
    font-size: 1.6rem;
    margin: 0;
}

.html_header div.header_input_field p{
    font-size: 1.2rem;
}

.create_account_form {
    margin: 3rem 0;
}

.create_account_form input{
    height: 5rem;
    width: 29.2rem;
    background: transparent;
    color: white;
    border: 0.5px solid gray;
    border-radius: 2px;
    padding: 1rem;
    margin: 0 1rem;
}

.create_account_form button{
    height: 5rem;
    width: 12.5rem;
    border-radius: 2px;
    cursor: pointer;
    border: 0.5px solid gray;
}

.create_account_form button:hover{
    background-color: aliceblue;
}

header.html_header h1{
    font-size: 6.2rem;
}

header.html_header p{
    font-size: 2rem;
}
/* header end */

/* section_1 css area */
.section_1{
    background-image: url(./images/Background2.png);
    height: 71rem;
}

.section1_title{
    width: 77rem;
    text-align: center;
    margin: 8rem auto;
}

.section1_title p{
    font-size: 1.4rem;
    font-family: '[Montserrat]';
}

.section1_title h1{
    font-size: 4.2rem;
    font-family: 'Myriad Pro';
}

div.section_1 article{
    width: 104rem;
    height: 40rem;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

div.section_1 section{
    overflow: hidden;
    flex: 1 43rem;
    padding: 1rem;
}

div.section_1 section img{
    float: left;
}

div.section_1 section p,div.section_1 section h2 {
    margin-left: 6rem;
}

div.section_1 section h2{
    font-size: 2rem;
    font-family: '[Montserrat]';
}

div.section_1 section p{
    font-size: 1.6rem;
    font-family: 'Myriad Pro';
}


/* section_1 end */

/* section_2 css area */
.section_2{
    background-image: url(./images/Background3.png);
    height: 80rem;
    color: white;
    position: relative;
}

.section_2 section.text{
    position: absolute;
    margin: 18rem 91.5rem 30rem 31.5rem;
    /* height: 32rem; */
    width: 37rem;
}

.section_2 section.text h1{
    font-size: 3.5rem;
    font-family: 'Myriad Pro', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section_2 section.text p{
    font-size: 1.6rem;
    font-family: 'Myriad Pro';
    margin-top: 5rem;
}

.section_2 section.button{
    position: absolute;
    margin: 55.5rem 0 18.5rem 31.5rem;
}

.section_2 button{
    border: 0.5px solid gray;
    border-radius: 2px;
    height: 6rem;
    width: 24rem;
    background-color: transparent;
    color: white;
    margin: 0 2rem 0 0;
}

.section_2 button:hover{
    color: black;
    background-color: white;
}
/* section_2 end */

/* section_3 css area */
.section_3{
    background-image: url(./images/Background4.png);
    height: 58rem;
}

.section_3 header{
    margin: 10rem 50rem;
    text-align: center;
    font-size: 1.6rem;
}

.section_3 article{
    display: flex;
    flex-wrap: wrap;
    margin: 0 32rem;
}

.section_3 section{
    flex:1 27rem;
    text-align: center;
}

.section_3 section p{
    padding: 4rem;
    font-size: 1.2rem;
    margin: 0;
}
/* section_3 end */

/* section_4 css area */
.section_4{
    background-image: url(./images/Background5.png);
    height: 100rem;
}

.section_4 article{
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: space-around; */
}

.section_4 section{
    width: 98rem;
    flex: 1 40rem;
}

.leaf_section{
    margin-top: 10rem;
}

.bird_section{
    margin-bottom: 10rem;
}

.leaf_photo{
    float: left;
}

.bird_photo{
    float: right;
}

.photo_discription{
    width: 31rem;
}

.photo_discription h2{
    font-size: 2rem;
}

.photo_discription p{
    font-size: 1.6rem;
    line-height: 2rem;
}

.leaf_section .photo_discription{
    margin-left: 62rem;
}

/* section_4 end */

.section_5{
    background-image: url(./images/Background6.png);
    height: 108.4rem;
}

.section_6{
    background-image: url(./images/Background7.png);
    height: 70rem;
}

footer{
    background-image: url(./images/Background_footer.png);
    height: 41rem;
}