*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Monteserrat ExtraLight', 'regular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.html_header{
    width: 100%;
    height: 99rem;
    color: white;
    background-image: url(./images/Background1.png);
    text-align: center;
    margin: 0 auto;
    padding: 20rem 0;
}

.html_header div{
    width: 96.5rem;
    margin: 0 auto;
}

.html_header div.header_input_field{
    height: 25rem;
    width: 97rem;
    border: 1px solid rgb(184, 182, 182);
    border-radius: 5px;
    margin-top: 10rem;
    padding: 5rem 0;
}

.html_header div.header_input_field h3{
    font-size: 1.6rem;
}

.html_header div.header_input_field p{
    font-size: 1.2rem;
}

.create_account_form {
    margin: 3rem 0;
}

.create_account_form input{
    height: 5rem;
    width: 29.2rem;
    background: transparent;
    color: white;
    border: 0.5px solid gray;
    border-radius: 2px;
    padding: 1rem;
    margin: 0 1rem;
}

.create_account_form button{
    height: 5rem;
    width: 12.5rem;
    border-radius: 2px;
    cursor: pointer;
    border: 0.5px solid gray;
}

.create_account_form button:hover{
    background-color: aliceblue;
}

header.html_header h1{
    font-size: 6.2rem;
}

header.html_header p{
    font-size: 2rem;
}

.section_1{
    background-image: url(./images/Background2.png);
    height: 61rem;
}

.section_2{
    background-image: url(./images/Background3.png);
    height: 80rem;
}

.section_3{
    background-image: url(./images/Background4.png);
    height: 58rem;
}

.section_4{
    background-image: url(./images/Background5.png);
    height: 100rem;
}

.section_5{
    background-image: url(./images/Background6.png);
    height: 108.4rem;
}

.section_6{
    background-image: url(./images/Background7.png);
    height: 70rem;
}

footer{
    background-image: url(./images/Background_footer.png);
    height: 41rem;
}